html, body {
    margin: 0;
    padding: 0;
}

#Spiel {
    width: 1440px;
    height: 821px;
    position: absolute;
    overflow: hidden;
}

h1 {
    position: inherit;
    top: 0;
    width: 100%;
    text-align: center;
    z-index: 100000;
    pointer-events: none;
}

#Game_Over {
    position: inherit;
    top: 0;
    width: 100%;
    text-align: center;
    z-index: 200001;
    padding: 350px 0px;
    font-size: 100px;
    background-color: rgba(0, 0, 0, 0.8);
    color: red;
    margin: 0;
    visibility: hidden;
}

.Lebenspunkte_Anzeige {
    background-color: rgb(192, 192, 192);
    width: 20em;
    border-radius: 15px;
    position: absolute;
    z-index: 100000;
    margin: 1.5em;
}

#Lebenspunkte {
    background-color: rgb(0, 200, 0);
    color: white;
    height: 1em;
    padding: 0.2em 0.2em 0.2em 0.2em;
    text-align: right;
    font-size: 20px;
    border-radius: 15px;
    width: 100%;
}

#Ort {
    position: inherit;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#Ort-Bild {
    position: inherit;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.Sprechblase {
    position: absolute;
    left: 100px;
    top: 150px;
    width: 1240px;
    /*height: 300px;*/

    background-color:#000000a0;
    border-radius: 2em;
    color: #ffffffa0;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    padding: 1em;
    line-height: 1.2em;
    text-align: center;
    z-index: 10000;
}

.Wegpunkt {
    position: absolute;
    border: 1px solid blue;
    left: 500px;
    top: 200px;
    border-radius: 50%;
}
#Wegpunkt_Vorlage {
    display: none;
}

.Portal {
    position: absolute;
    /*border: 1px solid red;*/
}
#Portal_Vorlage {
    display: none;
}

.Gegenstand {
    position: absolute;
    border: 0px solid black;
    visibility: hidden;
}
.Gegenstand > img {
    max-width: 100%;
    max-height: 100%;
}

.Monster { position: absolute; }
.Monster > img {
    max-width: 100%;
    max-height: 100%;
}

#Spieler {
    position: absolute;
    z-index: 101000;
}
#Spieler > img {
    max-width: 100%;
    max-height: 100%;
}

#Konsole {
    background-color: #00000050;
    position: inherit;
    bottom: 0px;
    height: 110px;
    display: grid;
    grid-template-columns: 60% 40%;
    width: 100%;
}

#Aktionen {
    width: 100%; 
    box-sizing: border-box;
    padding: 10px;
}

.Aktion {
    background-color: #00000050;
    display: inline-block;
    width: 85px;
    height: 85px;
    font-size: 67px;
    text-align: center;
    border: 1px outset;
}
.Aktion.aktiv {
    border-style: inset;
}

#Besitz {
    box-sizing: border-box;
    width: 100%; 
    padding: 10px;
}

.Gegenstand_in_Besitz {
    display: inline-block;
    height: 75px;
}
.Gegenstand_in_Besitz img {
    max-width: 100%;
    max-height: 100%
}

#Gegenstand_in_Besitz_Vorlage { display: none; }

#Status {
    position: absolute;
    z-index: -1;
}