html, body {
    margin: 0;
    padding: 0;
}

#Spiel {
    width: 1440px;
    height: 821px;
    position: absolute;
    overflow: hidden;
}

h1 {
    position: inherit;
    top: 0;
    width: 100%;
    text-align: center;
    z-index: 100000;
    pointer-events: none;
}

#Game_Over {
    position: inherit;
    top: 0;
    width: 100%;
    text-align: center;
    z-index: 200001;
    padding: 350px 0px;
    font-size: 100px;
    background-color: rgba(0, 0, 0, 0.8);
    color: red;
    margin: 0;
    visibility: hidden;
}

.Lebenspunkte_Anzeige {
    background-color: rgb(192, 192, 192);
    width: 20em;
    border-radius: 15px;
    position: absolute;
    z-index: 100000;
    margin: 1.5em;
}

#Lebenspunkte {
    background-color: rgb(0, 200, 0);
    color: white;
    height: 1em;
    padding: 0.2em 0.2em 0.2em 0.2em;
    text-align: right;
    font-size: 20px;
    border-radius: 15px;
    width: 100%;
}

#Ort {
    position: inherit;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#Ort-Bild {
    position: inherit;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.Gegenstand {
    position: absolute;
    border: 0px solid black;
    visibility: hidden;
}
.Gegenstand > img {
    max-width: 100%;
    max-height: 100%;
}

.Tier { position: absolute; }

#Skyly_10 { height: 75px; width: 75px; font-size: 75px; }
#Skyly_12 { height: 75px; width: 75px; font-size: 75px; }

.Monster { position: absolute; }
.Monster > img {
    max-width: 100%;
    max-height: 100%;
}

#Klauenspringer { height: 150px; width: 150px; }
#Zwerggreif { height: 150px; width: 150px; font-size: 75px; }


#Konsole {
    background-color: #00000050;
    position: inherit;
    bottom: 0px;
    height: 200px;
    display: grid;
    grid-template-columns: 50% 50%;
    width: 100%;
}

#Aktionen {
    width: 100%; 
    box-sizing: border-box;
    padding: 10px;
}

.Aktion {
    background-color: #00000050;
    display: inline-block;
    width: 85px;
    height: 85px;
    font-size: 67px;
    text-align: center;
    border: 1px outset;
}
.Aktion.aktiv {
    border-style: inset;
}

#Besitz {
    box-sizing: border-box;
    width: 100%; 
    padding: 10px;
}

.Gegenstand_in_Besitz {
    display: inline-block;
    height: 75px;
}
.Gegenstand_in_Besitz img {
    max-width: 100%;
    max-height: 100%
}

#Gegenstand_in_Besitz_Vorlage { display: none; }
