html, body {
    margin: 0;
    padding: 0;
}

#Spiel {
    width: 1440px;
    height: 821px;
    position: absolute;
    overflow: hidden;
}

h1 {
    position: inherit;
    top: 0;
    width: 100%;
    text-align: center;
    z-index: 100000;
    pointer-events: none;
}

#Ort {
    position: inherit;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#Ort-Bild {
    position: inherit;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.Gegenstand {
    position: absolute;
    border: 0px solid black;
    visibility: hidden;
}
.Gegenstand > img {
    max-width: 100%;
    max-height: 100%;
}

.Tier { position: absolute; }

#Skyly_10 { height: 75px; width: 75px; font-size: 75px; }
#Skyly_12 { height: 75px; width: 75px; font-size: 75px; }

.Monster { position: absolute; }

#Klauenspringer { height: 150px; width: 150px; font-size: 150px; }

#Konsole {
    background-color: #00000050;
    position: inherit;
    bottom: -150px;
    height: 200px;
    display: grid;
    grid-template-columns: 50% 50%;
    width: 100%;
    transition: 1s ease;
}

#Konsole:hover {
    bottom: 0;
}

#Aktionen {
    width: 100%; 
    box-sizing: border-box;
    padding: 10px;
}

.Aktion {
    background-color: #00000050;
    display: inline-block;
    width: 85px;
    height: 85px;
    font-size: 67px;
    text-align: center;
    border: 1px outset;
}
.Aktion.aktiv {
    border-style: inset;
}

#Besitz {
    box-sizing: border-box;
    width: 100%; 
    padding: 10px;
}

.Gegenstand_in_Besitz {
    display: inline-block;
    height: 75px;
}
.Gegenstand_in_Besitz img {
    max-width: 100%;
    max-height: 100%
}

#Gegenstand_in_Besitz_Vorlage { display: none; }
